.pokedex{
    width: 80%;
    height: 80%;
    display:flex;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 8%;
    background-color: red;
    margin-left: 10%;
    /*transform: rotate(90deg);*/
}

.pokedex .botonAzul{
    width: 8%;
    height: 15%;
    display:flex;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 100%;
    background-color: blue;
    left: 10%;
    top: 3%;
}
.pokedex .botonRojo{
    width: 2%;
    height: 3.25%;
    display:flex;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 100%;
    background-color: red;
    left: 20%;
    top: 3%;
}
.pokedex .botonAmarillo1{
    width: 2%;
    height: 3.25%;
    display:flex;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 100%;
    background-color: yellow;
    left: 25%;
    top: 3%;
}
.pokedex .botonAmarillo2{
    width: 2%;
    height: 3.25%;
    display:flex;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 100%;
    background-color: yellow;
    left: 30%;
    top: 3%;
}

.pokedex .marcoPantalla{
    width: 40%;
    height: 40%;
    display:flex;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    background-color: gray;
    left: 10%;
    top: 25%;

}

.marcoPantalla .pantalla{
    width: 80%;
    height: 80%;
    display:flex;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    background-color: white;
    left: 9%;  
    top: 6%;
    justify-content: center;
    align-items: center;
    

}
.pantalla .divImagenPokemon{
    height: 100%;
}
.imagenPokemon{ 
    height: 100%;
}
/*.imagenPokemon{
    height: 250%;
    clip-path: inset(30% 30% 30% 30%);
}*/


.pokedex .botonNegro{
    left: 9%;
    top: 80%;
    width: 5%;
    height: 12%;

    display:flex;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    background-color: black;

}

.botonNegro .botonBuscar{
    width: 100%;
    width: 100%;
    color: white;
    border-radius: 50%;
    background-color: black;
    font-weight: bold;

}



.pokedex .pantallita{
    left: 20%;
    top: 80%;
    width: 19%;
    height: 12%;

    display:flex;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    background-color: green;

}
.pantallita .textoPokemonBuscar{
    width: 100%;
    height: 90%;
    font-size: large;
    background-color: green;
    font-weight: bold;
    /*color: red;*/

}



.pokedex .cruceta{
    left: 46%;
    top: 80%;
    width: 5%;
    height: 12%;

    display:flex;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    background-color: black;

}


.pokedex .pantallaStatus{
    padding: 1%;
    left: 60%;
    top: 15%;
    width: 30%;
    height: 30%;

    display:flex;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    background-color: green;
    flex-direction: column;
    

}


.pokedex .pantallaAltura{
    left: 60%;
    top: 80%;
    width: 13%;
    height: 10%;

    display:flex;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    background-color: green;
    font-weight: bold;
    align-items: center;
    text-align: center;

}
.pokedex .pantallaPeso{
    left: 77%;
    top: 80%;
    width: 13%;
    height: 10%;

    display:flex;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    background-color: green;
    font-weight: bold;
    align-items: center;
    text-align: center;

}
